# Environnements virtuels
env/
.venv/
venv/

# Fichiers de config utilisateur
#*.env : dans ce projet j'utilise des info venant de .env
#*.env.*

# Caches et fichiers temporaires
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

app.egg-info
.coverage
htmlcov

# Dossiers inutiles
.git/
.gitignore
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db